<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= (typeof title != "undefined" ? title : "") %></title>
<link rel="icon" type="image/x-icon" href="/images/favicon.png" />
<!-- Google Font: Source Sans Pro -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
/>
<link rel="stylesheet" href="/backend/stylesheets/adminlte.min.css" />
<link rel="stylesheet" href="/backend/stylesheets/icheck-bootstrap.min.css" />
