<!-- <div class="container"> -->
<div class="slider">
  <div class="slider-container swiper-container">
    <div class="swiper-wrapper">
      <a href="#" class="swiper-slide">
        <img src="/images/sliders/sliders-1688980902141.webp" />
      </a>
      <a href="#" class="swiper-slide">
        <img src="/images/sliders/sliders-1688980863176.webp" />
      </a>
      <a href="#" class="swiper-slide">
        <img src="/images/sliders/sliders-1688980847452.webp" />
      </a>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<!-- </div> -->
